<section data-ui-scrollbar class="events">
    <ul class="events-list">
        <li class="status-possibly">
            <div class="event-date" data-month="sep">
                16
            </div>
            <div class="event-title">
                <a href="#">Five Finger Death Punch</a><br />
                <ul>
                    <li>Hellyeah</li>
                    <li>Nothing More</li>
                </ul>
            </div>
            <div class="event-venue">
                Sacramento, Sacramento,<br>
                United States
            </div>
            <ul class="event-options">
                <li class="show" data-toggle-event-menu>
                    <div></div>
                </li>
                <li class="go" data-title="I go it"></li>
                <li class="possibly"></li>
                <li class="more"></li>
            </ul>
        </li>

        <li class="status-go">
            <div class="event-date" data-month="sep">
                16
            </div>
            <div class="event-title">
                <a href="#">Five Finger Death Punch</a><br />
                <ul>
                    <li>Hellyeah</li>
                    <li>Nothing More</li>
                </ul>
            </div>
            <div class="event-venue">
                Sacramento, Sacramento,<br>
                United States
            </div>
            <ul class="event-options">
                <li class="show" data-toggle-event-menu>
                    <div></div>
                </li>
                <li class="go"></li>
                <li class="possibly"></li>
                <li class="more"></li>
            </ul>
        </li>

        <li>
            <div class="event-date" data-month="sep">
                16
            </div>
            <div class="event-title">
                <a href="#">Five Finger Death Punch</a><br />
                <ul>
                    <li>Hellyeah</li>
                    <li>Nothing More</li>
                </ul>
            </div>
            <div class="event-venue">
                Sacramento, Sacramento,<br>
                United States
            </div>
            <ul class="event-options">
                <li class="show" data-toggle-event-menu>
                    <div></div>
                </li>
                <li class="go"></li>
                <li class="possibly"></li>
                <li class="more"></li>
            </ul>
        </li>

        <li>
            <div class="event-date" data-month="sep">
                16
            </div>
            <div class="event-title">
                <a href="#">Five Finger Death Punch</a><br />
                <ul>
                    <li>Hellyeah</li>
                    <li>Nothing More</li>
                </ul>
            </div>
            <div class="event-venue">
                Sacramento, Sacramento,<br>
                United States
            </div>
            <ul class="event-options">
                <li class="show" data-toggle-event-menu>
                    <div></div>
                </li>
                <li class="go"></li>
                <li class="possibly"></li>
                <li class="more"></li>
            </ul>
        </li>

        <li>
            <div class="event-date" data-month="sep">
                16
            </div>
            <div class="event-title">
                <a href="#">Five Finger Death Punch</a><br />
                <ul>
                    <li>Hellyeah</li>
                    <li>Nothing More</li>
                </ul>
            </div>
            <div class="event-venue">
                Sacramento, Sacramento,<br>
                United States
            </div>
            <ul class="event-options">
                <li class="show" data-toggle-event-menu>
                    <div></div>
                </li>
                <li class="go"></li>
                <li class="possibly"></li>
                <li class="more"></li>
            </ul>
        </li>

        <li>
            <div class="event-date" data-month="sep">
                16
            </div>
            <div class="event-title">
                <a href="#">Five Finger Death Punch</a><br />
                <ul>
                    <li>Hellyeah</li>
                    <li>Nothing More</li>
                </ul>
            </div>
            <div class="event-venue">
                Sacramento, Sacramento,<br>
                United States
            </div>
            <ul class="event-options">
                <li class="show" data-toggle-event-menu>
                    <div></div>
                </li>
                <li class="go"></li>
                <li class="possibly"></li>
                <li class="more"></li>
            </ul>
        </li>
    </ul>
</section>