<section class="auth-vk">
    <header>
        <img src="img/app-logo-120.png"/>
        cMusicPlayer
    </header>
    <p translate="login.vk.description"></p>
    <h3 translate="login.vk.listTitle"></h3>

    <ul class="list">
        <li translate="login.vk.list.0"></li>
        <li translate="login.vk.list.1"></li>
        <li translate="login.vk.list.2"></li>
        <li translate="login.vk.list.3"></li>
        <li translate="login.vk.list.4"></li>
        <li translate="login.vk.list.5"></li>
    </ul>
    <div translate="login.vk.info" class="info-box"></div>
    <footer>
        <a data-ng-click="auth.showIdentityWindow()" class="btn login">{{ 'login.vk.enter'|translate }}</a>
        <div class="right">
            <div>{{ 'app.version'|translate }} {{ app.version }}</div>
            {{ 'app.developer'|translate }}
        </div>
    </footer>
</section>