<section data-ng-class="{show: app.events.length}" data-ui-scrollbar data-ui-scrollbar-shadow-box=".artist-header" class="events">
    <ul class="events-list" data-click-delegate data-events-watch>
        <li data-ng-repeat="item in ::app.events">
            <div class="event-date" data-month="{{ item.date.month }}">
                {{ item.date.date }}
            </div>
            <div class="event-title">
                <a href="#">{{ item.title }}</a><br />
                <ul>
                    <li data-ng-repeat="artist in item.artists.artist"> {{ artist }}</li>
                </ul>
            </div>
            <div class="event-venue">
                {{ item.venue.name}}, {{ item.venue.location.street }}<br>
                {{ item.venue.location.city }}
            </div>
            <ul class="event-options">
                <li data-click data-click-name="menu" class="show">
                    <div></div>
                </li>
                <li data-click="app.setStatus(2)" class="go" data-title="I go it"></li>
                <li data-click="app.setStatus(1)" class="possibly"></li>
                <li data-click data-click-name="more" class="more"></li>
            </ul>
        </li>
    </ul>
</section>