@import "fonts";
@import "reset";
@import "mixins";
@import "scroll-bar";
@import "header";
@import "menu";
@import "playlist";
@import "artist";
@import "auth";
@import "animate";

.app-loader {
  display: flex;
  .absolute(0, 0, 0, 0);
  z-index: 999;
  background: #f5f5f5;
  text-align: center;
  align-items: center;
  justify-content: center;
  .transition(opacity);
}

body.loaded {
  .app-loader {
    visibility: hidden;
  }
}

.app-content {
  .absolute(60px, 0, 0, @playlist-width);
  background: #FFF;
  border: @border-color 1px solid;
  border-top: none;
}

.link {
  color: @blue;

  &:hover {
    color: @blue-2;
  }
}

.btn {
  position: relative;
  padding: 10px 20px;
  min-width: 160px;
  text-align: center;
  color: #FFF;
  background: @blue;
  border-radius: 3px;
  font-size: 14px;
  .transition(background-color);

  &.light {
    background: @light;
    color: #999;

    &:hover {
      background: @light-2;
    }
  }

  &.green {
    background: @green;

    &:hover {
      background: @green-2;
    }
  }

  &.login {
    padding-left: 55px;

    &:before {
      content: "";
      display: block;
      .absolute(0, auto, 0, 0);
      width: 40px;
      height: 100%;
      background: @blue-2 url("../img/login-icon.png") center no-repeat;
      z-index: 2;
      border-radius: 3px 0 0 3px;
      .transition(background-color);
    }
  }

  &:hover {
    background: @blue-2;

    &:before {
      background-color: @blue;
    }
  }
}

.info-box {
  position: relative;
  padding: 20px;
  background: @orange;
  color: #FFF;
  border-radius: 3px;
  line-height: 22px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    right:0;
    top:0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid @orange-2;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    right:0;
    top:0;
    width: 15px;
    height: 15px;
    background: #FFF;
  }

  p {
    margin: 0 0 10px 0 !important;
  }
}

.tracks-list {
  > li {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 10px;
    line-height: 20px;
    cursor: pointer;
    vertical-align: top;
    font-size: 11px;

    &:hover {
      background: @light-2;
    }

    .icon-play {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: @dark 1px solid;
      border-radius: 50%;
      .icon(2px, -446px);
      opacity: .5;
    }

    .artist {
      font-weight: 700;
      vertical-align: top;

      &:hover {
        border-bottom: @dark 1px dotted;
      }
    }

    .track {
      vertical-align: top;
    }

    .time {
      float: right;
      font-size: 11px;
      opacity: .8;
    }

    &.current {
      background: @blue;
      color: #FFF;

      .icon-play {
        border-color: #FFF;
        opacity: 1;
        .icon(2px, -382px);
      }

      .artist {
        color: #FFF;

        &:hover {
          border-bottom-color: #FFF;
        }
      }

      .time {
        opacity: 1;

      }
    }
  }
}

.artists-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-right: -20px;

  li {
    display: inline-block;
    flex: 1 0 160px;

    &:empty {
      height: 0;
      border: none;
    };

    a {
      position: relative;
      display: inline-block;
      width: 120px;
      height: 140px;
      margin: 20px;
      text-align: center;
      vertical-align: top;

      &:before {
        content: "";
        display: block;
        width: 120px;
        height: 120px;
        .absolute(0, 0, 0, 0);
        background: rgba(0, 0, 0, .6) url("../img/icon-artist-more.png") center no-repeat;
        border-radius: 3px;
        opacity: 0;
        .transition(opacity);
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }

      img {
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 3px;
        margin-bottom: 10px;
      }
    }
  }

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    text-align: left;
  }
}

.albums-list {
  position: relative;
  text-align: justify;
  margin: -20px;

  li {
    display: inline;

    a {
      position: relative;
      display: inline-block;
      width: 170px;
      height: 200px;
      margin: 20px;
      text-align: left;
      vertical-align: top;

      img {
        display: block;
        width: 170px;
        height: 170px;
        margin-bottom: 10px;
        border-radius: 3px;
      }

      .year {
        font-size: 11px;
        color: #999;
      }

      &:before {
        content: "";
        display: block;
        width: 170px;
        height: 170px;
        .absolute(0, 0, 0, 0);
        background: rgba(0, 0, 0, .6) url("../img/icon-album-more.png") center no-repeat;
        border-radius: 3px;
        opacity: 0;
        .transition(opacity);
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

.tabs {
  .absolute(auto, 20px, auto, 20px);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px -20px 0 -20px;
  font-size: 11px;
  line-height: 11px;
  clear: both;
  .ellipsis();

  li {
    position: relative;
    display: inline;
    text-transform: uppercase;

    &.active {
      border-bottom: @blue 2px solid;
      z-index: 2;

      a {
        color: @blue;
      }
    }

    a {
      display: inline-block;
      padding: 0 20px 20px 20px;
      .transition(color);

      &:hover {
        color: @blue;
      }
    }
  }

  &:after {
    .absolute(auto, 0, 0, 0);
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: @border-color;
  }
}

.app-slide {
  .absolute(60px, 0, 0, @playlist-width);
  background: #FFF;
  z-index: 5;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, .1);

  .app-slide-content {
    .scroll-box(20px, 20px, 20px, 20px);
  }
}

.slide.ng-enter, .slide.ng-leave {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  z-index: 5;
}

.slide.ng-enter {
  -webkit-transform: translateX(100%);
}

.slide.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
}

/*.slide.ng-enter, .slide.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  background: #FFF;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.slide.ng-enter {
  -webkit-transform: translateX(0);
}*/
