* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: @body-bg;
  color: @text-color-default;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: @text-color-default;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: @dark;
  font-size: 12px;
  line-height: 14px;
}