::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height:0;
}

::-webkit-scrollbar-track {
  border-radius:3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #93979d;
  border-radius:3px;
}

.ui-scrollbar {
  .absolute(0, 7px, 0, auto);
  display: block;
  width: 4px;
  z-index: 11;
  border-radius: 4px;
  opacity: 0;
  overflow-y: auto;
  .transition(opacity);

  div {
    width: 4px;
  }

  &.show {
    opacity: .5;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
}