<!DOCTYPE html>
<html lang="en" data-ng-csp>
<head>
	<title>cMusic Player</title>
    <meta charset="utf-8">

    <!-- Vendor files -->
    <script type="text/javascript" src="app/vendor/angular.min.js"></script>
    <script type="text/javascript" src="app/vendor/angular-animate.min.js"></script>
    <script type="text/javascript" src="app/vendor/angular-translate.min.js"></script>
    <script type="text/javascript" src="app/vendor/md5.min.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="app/services/state.service.js"></script>
    <script type="text/javascript" src="app/services/storage.service.js"></script>
    <script type="text/javascript" src="app/services/utils.service.js"></script>
    <script type="text/javascript" src="app/services/vk.api.service.js"></script>
    <script type="text/javascript" src="app/services/lastfm.api.service.js"></script>
    <script type="text/javascript" src="app/services/auth.service.js"></script>

    <!-- Directives -->
    <script type="text/javascript" src="app/directives/app.directive.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="app/controllers/app.controller.js"></script>
    <script type="text/javascript" src="app/controllers/menu.controller.js"></script>
    <script type="text/javascript" src="app/controllers/header.controller.js"></script>
    <script type="text/javascript" src="app/controllers/window.controller.js"></script>
    <script type="text/javascript" src="app/controllers/playlist.controller.js"></script>
    <script type="text/javascript" src="app/controllers/auth.controller.js"></script>

    <!-- App -->
    <script type="text/javascript" src="app/app.config.js"></script>
    <script type="text/javascript" src="app/app.js"></script>

    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body class="app" data-ng-app="cMusic" data-ng-controller="AppController as app" data-ng-class="{loaded: state.loaded}">
    <section data-ng-controller="AuthController as auth" data-ng-init="auth.checkUserAuth()">
        <section class="app-auth" data-ng-if="auth.showAuthForm" data-ng-include="'views/auth/authView.html'"></section>

        <section data-ng-if="!auth.showAuthForm">
            <ng-include src="'views/main/headerView.html'"></ng-include>
            <ng-include src="'views/main/menuView.html'"></ng-include>
            <ng-include src="'views/main/playlistView.html'"></ng-include>
            <ng-include src="'views/main/contentView.html'"></ng-include>
        </section>
    </section>

    <!--<div class="app-loader">
        Loading...
    </div>-->
</body>
</html>
