<div id="cmusic-about">
	<div class="modal-content">
    	<a class="modal-close" data-ng-click="showAboutPage()" href="">Закрыть <i class="a-icon-window-close a-icon-white"></i></a>
    	<h1> <img src="/icons/about-large.png" /> О плеере</h1>
		
        <p>
        	cMusic Player - это приложение которое облегчит Вам прослушивание музыки и поможет обрести новых  любимых исполнителей. 
С cMusic Вы сможете следить за концертами групп, которые Вам нравятся, скробблить композиции на LastFM, просматривать рекомендованных  Вам исполнителей, узнавать больше об артистах, которые нравятся и все глубже поглощаться в мир музыки, которую мы все так любим.
        </p>
        
        <div id="cmusic-about-funcs">
        	<h5>Основные возможности плеера:</h5>
            
        	<ul class="list">
                <li>Прослушивание музыки из ВК</li>
                <li>Cоздание и управление плейлистами</li>
                <li>Скробблинг аудиозаписей на LastFM</li>
                <li>Просмотр биографии, похожих исполнителей, дискографии и событий артиста</li>
                <li>Поиск аудиозаписей по названию исполнителя/трека</li>
                <li>Просмотр рекомендованых артистов и треков на основе скробблинга LastFM</li>
                <li>Доступ к вашей библиотеке на LastFM</li>
            </ul>
            
            <div class="info-box">
                <h5>Что нового в этой версии?</h5>
                
                <ul class="list">
                    <li>Обновленный дизайн</li>
                    <li>Минимизация плеера</li>
                    <li>Создание и управление плейлистами</li>
                    <li>Вывод всплывающих окон при переключении трека в свернутом режиме</li>
                    <li>Вывод битрейда текущего трека</li>
                    <li>Добавлено отображение топ 10 треков текущего артиста</li>
                    <li>Добавлен вывод аудиозаписей текущего исполнителя в плейлисте</li>
                    <li>Возможность просматривать текст песни</li>
                    <li>Добавление события в "Мои концерты"</li>
                    <li>Просмотр развернутого события</li>
                </ul>
            </div>
        </div>
        
        <footer>
        	<div class="left">
            	<a class="white-link" target="_blank" href="http://vk.com/topic-65684785_29600478">
                    <span class="blue-bg"><img src="/icons/bug-icon.png" /></span>Сообщить об ошибке
                </a><br /><br />
                <a class="white-link" target="_blank" href="https://chrome.google.com/webstore/detail/cmusic-player/okdgofnjkaimfebepijgaoimfphblkpd/reviews">
                    <span class="blue-bg"><img src="/icons/feedback-icon.png" /></span>Оставить отзыв
                </a>
            </div>
            <div class="left">
            	<a class="white-link" target="_blank" href="http://vk.com/cmusicplayer">
                    <span class="blue-bg"><img src="/icons/vk-icon.png" /></span>Группа ВКонтакте
                </a><br /><br />
                <a class="white-link" target="_blank" href="https://chrome.google.com/webstore/detail/cmusic-player/okdgofnjkaimfebepijgaoimfphblkpd">
                    <span><img src="/icons/webstore.png" /></span>Приложение в Web Store
                </a>
            </div>
            
            <div class="right">
            	Версия {{appVersion}}<br />
                2014 © Александр Хиренко
            </div>
        </footer>
    </div>
</div>