<div class="modal-window">
    <div class="modal-window-bg"></div>
    <div class="modal-window-content">
        <header>Создать новый плейлист <a data-ng-click="modalClose()" class="close"><i class="a-icon-window-close a-icon-white"></i></a></header>
        <section id="playlist">
            <input placeholder="Введите название плейлиста" type="text" id="playlist-name" data-ng-model="playlistName" />
            
            <div 
            	data-ng-init="Tracks('addPlaylistTracks').get(0)" 
                data-scroll="Tracks('addPlaylistTracks').get(0, 1)"
                class="new-playlist-tracks">
                
            	<ul class="tracks-list">
                    <li class="track"
                        data-autoscrolling="{{isCurrentTrack(track)}}" 
                        data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay, added: isAdded(track.id)}"
                        data-ng-repeat="track in addPlaylistTracks.items">
                        
                        <div class="text-overflow">
                            <i data-ng-click="Play(track, $index, track)" class="a-icon-play a-icon-opacity"></i>
                            <span data-ng-click="Play(track, $index, track)" data-ng-bind-html="track.artist" class="track-artist"></span> – 
                            <span data-ng-bind-html="track.title" class="track-title"></span>
                            <span class="track-duration">{{track.duration}}</span>
                        </div>
                        
                        <div data-ng-click="addToPlaylist(track.id)" class="play"></div>
                        
                        <div class="track-options">
                            <a data-ng-if="!isAdded(track.id)" data-title="Отметить трек" data-ng-click="addToPlaylist(track.id)" href="">
                                <i class="a-icon-ok a-icon-opacity"></i>
                            </a>
                            <a data-ng-if="isAdded(track.id)" data-title="Убрать трек" data-ng-click="addToPlaylist(track.id)" href="">
                                <i class="a-icon-remove a-icon-white"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <footer>
        	<a class="btn btn-submit" data-ng-click="savePlaylist()" href="">Добавить плейлист</a>
        </footer> 
    </div>
</div>
