<section data-ng-controller="MenuCtrl" data-ng-class="{show: isMenuShow}" class="app-menu">
    <menu>
        <li>
            <a data-ng-click="toggleShow()">
                <div class="helper"></div>
            </a>
            <div class="title">cMusic</div>
        </li>
        <li>
            <a class="icon-menu-news">
                News
            </a>
        </li>
        <li>
            <a class="icon-menu-search">
                Search audio
            </a>
        </li>
        <li>
            <a class="icon-menu-lib">
                My library
            </a>
        </li>
        <li>
            <a class="icon-menu-recommends">
                Recommendations
            </a>
        </li>
        <li class="alarm">
            <a class="icon-menu-events">
                Events
            </a>
        </li>
        <li>
            <a class="icon-menu-about">
                About
            </a>
        </li>
        <li>
            <a class="icon-menu-settings">
                Settings
            </a>
        </li>
    </menu>
</section>