<section data-ng-controller="MenuCtrl" data-ng-class="{show: isMenuShow}" class="app-menu">
    <menu>
        <li>
            <a data-ng-click="toggleShow()">
                <div class="helper"></div>
            </a>
            <div class="title">cMusic</div>
        </li>
        <li>
            <a href="#news" class="icon-menu-news">
                News
            </a>
        </li>
        <li>
            <a href="#search" class="icon-menu-search">
                Search audio
            </a>
        </li>
        <li>
            <a href="#library" class="icon-menu-lib">
                My library
            </a>
        </li>
        <li>
            <a href="#recommendations" class="icon-menu-recommends">
                Recommendations
            </a>
        </li>
        <li class="alarm">
            <a href="#events" class="icon-menu-events">
                Events
            </a>
            <span class="count-alarms">5</span>
        </li>
        <li>
            <a href="#about" class="icon-menu-about">
                About
            </a>
        </li>
        <li>
            <a href="#settings" class="icon-menu-settings">
                Settings
            </a>
        </li>
    </menu>
</section>