<section class="app-playlist">
    <div class="playlist-options">
        <div class="search">
            <input autocomplete="off" type="text" data-ng-model="search" placeholder="Search in playlist" name="q">
        </div>
        <div class="playlists">

        </div>
    </div>
    <ul class="tracks tracks-list">
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Plumb</a> – <span class="track">Need You Now</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Skillet</a> – <span class="track">Forgiven</span>
            <div class="time">04:14</div>
        </li>
        <li class="current">
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Five Finger Death Punch</a> – <span class="track">Cradle to the Grave</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Story's End</a> – <span class="track">To The Bitter End</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">SouthDown</a> – <span class="track">Angel (Not A Human Being)</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">SouthDown</a> – <span class="track">Joey</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">SouthDown</a> – <span class="track">Become One</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Three Days Grace</a> – <span class="track">Life Starts Now</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">The Bunny The Bear</a> – <span class="track">In Like Flynn</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Takida</a> – <span class="track">I Am The World</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Takida</a> – <span class="track">Brimstone</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Takida</a> – <span class="track">Purgatory (Live And Let Die)</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Tell Me a Fairytale</a> – <span class="track">Sleepwalker</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Crematory</a> – <span class="track">Apocalyptic Vision</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">SouthDown</a> – <span class="track">Become One</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Three Days Grace</a> – <span class="track">Life Starts Now</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">The Bunny The Bear</a> – <span class="track">In Like Flynn</span>
            <div class="time">04:14</div>
        </li>
    </ul>
</section>