<section class="app-playlist">
    <div class="playlist-options">
        <div class="search">
            <input autocomplete="off" type="text" data-ng-model="search" placeholder="Search in playlist" name="q">
        </div>
        <div class="playlists">

        </div>
    </div>
    <ul class="tracks">
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Plumb</a> – <span class="track">Need You Now</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Plumb</a> – <span class="track">Need You Now</span>
            <div class="time">04:14</div>
        </li>
        <li>
            <i class="icon-play"></i>
            <a class="artist" href="#search/Plumb">Plumb</a> – <span class="track">Need You Now</span>
            <div class="time">04:14</div>
        </li>
    </ul>
</section>