<section id="artist-more-info">
    <div data-ng-cloak id="artist-min-info">
    	<img src="icons/no-album.png" width="64" height="64" data-image="{{artist_min_info.image['#text'] || biography.image[1]['#text']}}" >
        <h3>{{artist_min_info.name || biography.name}}</h3>
        
        <ul class="artist-tags">
        	<li data-ng-repeat="tag in artist_min_info.tags || biography.tags.tag">
            	{{tag.name}}
            </li>
        </ul>
    </div>
    
    <div class="slide">
    	<div data-ng-if="isAlbumLoad" class="artist-album clear">
        	<h3>{{album.name}}</h3>
        	<img src="icons/no-image.png" width="126" height="126" image="{{album.image.2['#text']}}">
            <ul>
                <li class="track search-track"
                    data-ng-class="{current : isCurrentTrack(track)}" 
                    data-ng-repeat="track in album.tracks">
                    <div data-ng-click="Play(track, $index, 3)" >
                        <span data-ng-bind-html="track.artist" class="track-artist"></span> - 
                        <span data-ng-bind-html="track.title" class="track-title"></span>
                        <span class="track-time">{{track.duration}}</span>
                    </div>
                    
                    <div data-ng-if="track.owner_id != owner_id" class="track-options">
                        <a data-ng-click="addToMyPlaylist(track)" href="">
                            <i class="a-icon-plus a-icon-gray"></i>
                        </a>
                    </div>
                    <div data-ng-if="track.owner_id == owner_id" class="track-options">
                        <a data-ng-click="editMyTrack(track, $index, 3)" href="">
                            <i class="a-icon-pencil a-icon-gray"></i>
                        </a>
                        <a data-ng-click="deleteMyTrack(track.aid, track.owner_id, $index, 3)" href="">
                            <i class="a-icon-remove a-icon-gray"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        
        <div data-ng-if="!isAlbumLoad">
        	Подождите, загружаю альбом...
        </div>
    </div>
</section>