<div class="modal-window">
    <div class="modal-window-bg"></div>
    <div class="modal-window-content">
        <header>Редактировать плейлист <a data-ng-click="modalClose()" class="close"><i class="a-icon-window-close a-icon-white"></i></a></header>
        <section id="playlist">
            <input placeholder="Введите название плейлиста" type="text" id="playlist-name" data-ng-model="playlistName" />
            
            <ul data-ng-init="editPlaylistType = 'playlist'" class="links-list-min">
                <li>
                    <a 
                        data-ng-class="{active: editPlaylistType == 'playlist'}" 
                        data-ng-click="editPlaylistType = 'playlist'" 
                        href="">Композиции плейлиста</a>
                </li>
                <li>
                    <a 
                        data-ng-class="{active: editPlaylistType == 'all'}" 
                        data-ng-click="Tracks('addPlaylistTracks').get(0); editPlaylistType = 'all'" 
                        href="">Все композиции</a>
                </li>
            </ul>
            
            <div 
            	data-ng-init="Tracks('currentPlaylistTracks', 'addedPlaylistTracks').get(playlistAlbumId)"
                data-scroll="Tracks('currentPlaylistTracks', 'addedPlaylistTracks').get(playlistAlbumId, 1)"
                data-ng-if="editPlaylistType == 'playlist'" 
                class="new-playlist-tracks playlist-edit">
                
            	<ul class="tracks-list">
                    <li class="track"
                        data-autoscrolling="{{isCurrentTrack(track)}}" 
                        data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay, added: isAdded(track.id)}"
                        data-ng-repeat="track in currentPlaylistTracks.items">
                        
                        <div class="text-overflow">
                            <i data-ng-click="Play(track, $index, track)" class="a-icon-play a-icon-opacity"></i>
                            <span data-ng-click="Play(track, $index, track)" data-ng-bind-html="track.artist" class="track-artist"></span> – 
                            <span data-ng-bind-html="track.title" class="track-title"></span>
                            <span class="track-duration">{{track.duration}}</span>
                        </div>
                        
                        <div data-ng-click="addToPlaylist(track.id)" class="play"></div>
                        
                        <div class="track-options">
                            <a data-ng-if="!isAdded(track.id)" data-title="Отметить трек" data-ng-click="addToPlaylist(track.id)" href="">
                                <i class="a-icon-ok a-icon-opacity"></i>
                            </a>
                            <a data-ng-if="isAdded(track.id)" data-title="Убрать трек" data-ng-click="addToPlaylist(track.id)" href="">
                                <i class="a-icon-remove a-icon-white"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div 
            	data-ng-if="editPlaylistType == 'all'" 
                data-scroll="Tracks('addPlaylistTracks').get(0, 1)"
                class="new-playlist-tracks playlist-edit">
                
            	<ul class="tracks-list">
                    <li class="track"
                        data-autoscrolling="{{isCurrentTrack(track)}}" 
                        data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay, added: isAdded(track.id)}"
                        data-ng-repeat="track in addPlaylistTracks.items">
                        
                        <div class="text-overflow">
                            <i data-ng-click="Play(track, $index, addPlaylistTracks.items)" class="a-icon-play a-icon-opacity"></i>
                            <span data-ng-click="Play(track, $index, addPlaylistTracks.items)" data-ng-bind-html="track.artist" class="track-artist"></span> – 
                            <span data-ng-bind-html="track.title" class="track-title"></span>
                            <span class="track-duration">{{track.duration}}</span>
                        </div>
                        
                        <div data-ng-click="addToPlaylist(track.id)" class="play"></div>
                        
                        <div class="track-options">
                            <a data-ng-if="!isAdded(track.id)" data-title="Отметить трек" data-ng-click="addToPlaylist(track.id)" href="">
                                <i class="a-icon-ok a-icon-opacity"></i>
                            </a>
                            <a data-ng-if="isAdded(track.id)" data-title="Убрать трек" data-ng-click="addToPlaylist(track.id)" href="">
                                <i class="a-icon-remove a-icon-white"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <footer>
        	<a class="btn btn-submit" data-ng-click="savePlaylist(playlistAlbumId)" href="">Сохранить плейлист</a>
            
            <a data-ng-click="deletePlaylist(playlistAlbumId)" href="">Удалить плейлист</a>
        </footer> 
    </div>
</div>
