<div id="event-full">
	<audio preload="metadata" id="event-player"></audio>
	<div class="modal-content">
    	<a class="modal-close" data-ng-click="getEventFull()" href="">Закрыть <i class="a-icon-window-close a-icon-white"></i></a>
    	<header>
        	<div class="event-date">
                <b>{{eventFull.startDate.date}}</b>
                {{eventFull.startDate.month}} {{eventFull.startDate.year}}
            </div>
        	<h2 class="text-overflow"> {{eventFull.title}}</h2>
            <div class="venue text-overflow">
            	{{eventFull.venue.name}} <br />
                {{eventFull.venue.location.street}}, {{eventFull.venue.location.city}}, {{eventFull.venue.location.country}}
            </div>
            
            <div data-ng-if="eventFull.status == 2" class="btn-group">
            	<a data-ng-click="attendEvent(eventFull.id, 0)" href="">Я пойду</a>
                <a data-ng-click="attendEvent(eventFull.id, 1)" href="">Мне интересно</a>
            </div>
            <div data-ng-if="eventFull.status == 1" class="btn-group">
                <a>
                	<i class="a-icon-question-sign a-icon-white"></i> Вам интересно
                </a>
                <a data-ng-click="attendEvent(eventFull.id, 2)" href="">Отмена</a>
            </div>
            <div data-ng-if="eventFull.status == 0" class="btn-group">
                <a>
                	<i class="a-icon-ok a-icon-white"></i> Вы идете
                </a>
                <a data-ng-click="attendEvent(eventFull.id, 2)" href="">Отмена</a>
            </div>
        </header>
        
        <section id="event-artists">
        	<h5>Состав учасников:</h5>
            
            <ul class="event-artists">
            	<li data-ng-repeat="a in eventFull.artists.full">
                	<img width="100" height="100" src="icons/no-image.png" data-image="{{a.image.2['#text']}}" />
                    <div class="title">{{a.name}}</div>
                    <a data-ng-click="playArtiist(a.name)" href="" class="play-artist">
                    	<span class="blue-bg"><i data-ng-class="{'a-icon-pause' : !eventPlayIsPaused && eventCurrentTrack.artist == a.name}" class="a-icon-play a-icon-white"></i></span>
                        <div class="text-overflow" data-ng-if="!eventCurrentTrack || eventCurrentTrack.artist != a.name">Слушать {{a.name}}</div>
                        
                        <div data-ng-if="eventCurrentTrack && eventCurrentTrack.artist == a.name">
                        	<span class="text-overflow">{{eventCurrentTrack.artist}} – {{eventCurrentTrack.title}}</span>
                        </div>
                    </a>
                    <div data-ng-if="eventCurrentTrack && eventCurrentTrack.artist == a.name" class="eventPlayerControl">
                        <a data-ng-click="playArtistPrev()" href=""><span class="blue-bg"><i class="a-icon-step-backward a-icon-white"></i></span></a>
                        <a data-ng-click="playArtistNext()" href=""><span class="blue-bg"><i class="a-icon-step-forward a-icon-white"></i></span></a>
                    </div>
                </li>
            </ul>
        </section>
        <section id="event-description">
        	<h5>Описание:</h5>
        	<div data-ng-bind-html="eventFull.description|target"></div>
        </section>
    </div>
</div>