<div id="cmusic-lastfm-login">
	<div class="modal-content">
    	<a data-ng-click="lastfmAuthClose()" class="modal-close" href="">Закрыть <i class="a-icon-window-close a-icon-white"></i></a>
    	<h1> <img src="/icons/lastfm-large.png" /> Вход LastFM</h1>
		
        <p class="clear"></p>
        
        <div id="lastfm-auth-form">
        	<h5>Введите логин и пароль на LastFM:</h5>
            
            <form data-ng-submit="LastfmAuth()" method="post" action="">
            	<input placeholder="Ваш логин..." data-ng-model="login" type="text" name="login" />
                <input placeholder="Ваш пароль..." data-ng-model="passw" type="password" name="passw" />
                
                <div class="form-footer">
                	<button class="btn" type="submit">
                        <b><img src="/icons/icon-enter-min.png" /></b>
                        Вход
                    </button>
                    
                    <a class="white-link" href="http://www.lastfm.ru/join" target="_blank">Регистрация</a>
                </div>
            </form>
            
            <div class="info-box">
                Приложение не собирает никаких личных данных о пользователе, в том числе логин и пароль. 
            </div>
        </div>
        
        <div id="lastfm-auth-info">
        	<h5>Зачем это нужно?</h5>
            <p>
            	Для того, чтобы качественней подбирать Вам рекомендации, скробблить музыку и  следить за концертами любимых исполнителей в вашем городе, необходим аккаунт на last.fm. 
Если у Вас он уже есть, то просто введите свой логин и пароль в форму.  Если же нет - пройдите по ссылке регистрация и введите все нужные данные. После успешной регистрации вернитесь к этой форме и заполните ее.
            </p>
            
            <h5>Что такое cкробблинг?</h5>
            <p>
            	Скроббл — это небольшое сообщение, отправляемое в Last.fm приложением о композиции, которую Вы слушаете.
Скробблинг помогает нам узнать, какие композиции Вы любите и слушаете чаще всего, частоту обращения к тому или иному исполнителю в течение определенного периода времени, друзьях, которые разделяют Ваши вкусы, и так далее. Узнав о Ваших музыкальных предпочтениях, мы поможем Вам найти что-то новое.
            </p>
        </div>
    </div>
</div>