<div id="cmusic-login">
	<div class="modal-content">
    	<h1> <img src="/icons/128-white.png" /> cMusic Player</h1>
        
        <p>
        	cMusic Player - это приложение, которое облегчит Вам прослушивание музыки и поможет обрести новых  любимых исполнителей. 
С cMusic Вы сможете следить за концертами групп, которые Вам нравятся, скробблить композиции на LastFM, просматривать рекомендованных  Вам исполнителей, узнавать больше об артистах и все глубже поглощаться в мир музыки, которую мы все так любим.
        </p>
        
        <h5>Основные возможности плеера:</h5>
        
        <ul class="list">
        	<li>Прослушивание музыки из ВК</li>
            <li>Cоздание и управление плейлистами</li>
            <li>Скробблинг аудиозаписей на LastFM</li>
            <li>Просмотр биографии, похожих исполнителей, дискографии и событий артиста</li>
            <li>Поиск аудиозаписей по названию исполнителя/трека</li>
            <li>Просмотр рекомендованых артистов и треков на основе скробблинга LastFM</li>
            <li>Доступ к Вашей библиотеке на LastFM</li>
        </ul>
        
        <div class="info-box">
        	Для использования приложения необходим доступ к вашим аудиозаписям в ВК. Нажмите на кнопку “Вход ВКонтакте” и в открывшейся форме введите свой логин и пароль.<br /><br />

Приложение не собирает никаких личных данных пользователя, в том числе логин и пароль. 
        </div>
        
        <footer>
        	<a data-ng-click="getVKAuthForm()" class="btn btn-large">
            	<b><img src="/icons/icon-enter.png" /></b>
                Вход ВКонтакте
            </a>
            
            <div class="right">
            	Версия {{appVersion}}<br />
                2014 © Александр Хиренко
            </div>
        </footer>
    </div>
</div>