<header class="content-header">
    <h3 data-ng-if="!is_lastfm_auth" data-ng-init="Artist().getTopArtists('userLibArtists')"><span class="blue-bg">
        <i class="a-icon-star a-icon-white"></i></span> Популярные артисты на Last FM
        <a class="btn btn-min btn-red right" data-ng-click="GetLastfmAuthForm()" href="">
            <b><i class="a-icon-user a-icon-white"></i></b>
            Войти на LastFM
        </a>
    </h3>
    <h3 data-ng-if="is_lastfm_auth" data-ng-init="Artist().getUserLib('userLibArtists')"><span class="blue-bg">
        <i class="a-icon-folder-close a-icon-white"></i></span> Моя библиотека
    </h3>
</header>

<section data-scroll="is_lastfm_auth ? Artist().getUserLib('userLibArtists', 1) : Artist().getTopArtists('userLibArtists', 1)" class="content-scroller">

    <ul class="artists">
        <li data-ng-repeat="a in userLibArtists.items">
            <a data-ng-click="artistMoreInfo(a.name)" href="">
                <b>{{a.playcount|number}}</b>
                <img src="icons/no-image.png" width="126" height="126" data-image="{{a.image[2]['#text']}}" >
                <span>{{a.name}}</span>
            </a>
        </li>
    </ul>
</section>