<section data-ng-if="is_lastfm_auth" id="my-recommendations">
	<header data-ng-init="User('lastfmUser').getLastFmUserInfo()" class="tabs-header clear">
    	<img src="icons/no-album.png" width="64" height="64" data-image="{{lastfmUser.image[1]['#text']}}" >
        <h4>Рекомендации</h4>
        
        <span class="user-name">{{lastfmUser.name}}</span>
        
        <nav data-ng-init="remommedsType = 'artists'">
            <a 
                data-ng-click="remommedsType = 'artists'" 
                data-ng-class="{'active' : remommedsType == 'artists'}" 
            href=""><i class="a-icon-comment a-icon-opacity"></i> Исполнители</a>
            
            <a 
                data-ng-click="Recommended('recommendedTracks').getTracks(0); remommedsType = 'tracks'" 
                data-ng-class="{'active' : remommedsType == 'tracks'}" 
            href=""><i class="a-icon-headphones a-icon-opacity"></i> Композиции</a>
        </nav>
    </header>
   
    <div data-ng-init="Recommended('recommendedArtists').getArtists()" data-ng-if="remommedsType == 'artists'" data-scroll="Recommended('recommendedArtists').getArtists(1)" class="slide">
    	<ul class="recommends-artists">
        	<li data-ng-repeat="a in recommendedArtists.items">
                <div>
                	<a title="{{a.name}}" data-ng-click="artistMoreInfo(a.name)" href="">
                        <img src="icons/no-image.png" width="126" height="126" data-image="{{a.image.2['#text']}}" > 
                    </a>
                    <a title="{{a.name}}" href="" data-ng-click="artistMoreInfo(a.name)" class="name text-overflow">{{a.name}}</a>
                    <div class="similar-text">Похожая на:</div>
                    <div data-ng-repeat="c in a.context.artist" class="context-artists text-overflow">
                        <img src="icons/no-image.png" width="32" height="32" data-image="{{c.image.0['#text']}}" >
                        <a title="{{c.name}}" href="" data-ng-click="artistMoreInfo(c.name)">{{c.name}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div data-ng-if="remommedsType == 'tracks'" data-scroll="Recommended('recommendedTracks').getTracks(0, 1)" class="slide">
    	<ul class="tracks-list">
        	<li class="track"
                data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay}"
                data-autoscrolling="{{isCurrentTrack(track)}}" 
                data-ng-repeat="track in recommendedTracks.items">
                
            	<div class="text-overflow">
                	<i class="a-icon-play a-icon-opacity"></i>
                    <a data-ng-click="searchByArtist(track.artist)" href="" data-ng-bind-html="track.artist" class="track-artist"></a> – 
                    <span data-ng-bind-html="track.title" class="track-title"></span>
                    <span class="track-duration">{{track.duration}}</span>
                </div>
                
            	<div data-ng-click="Play(track, $index, recommendedTracks.items)" class="play"></div>
                
                <div class="track-options">
                	<a data-ng-click="addToMyPlaylist(track)" href="">
                        <i class="a-icon-plus a-icon-opacity"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>

<div class="message mess-auth" data-ng-if="!is_lastfm_auth">
    Для просмотра этого раздела Вам нужно авторизироваться на LastFM 
    <a class="btn btn-min btn-red right" data-ng-click="GetLastfmAuthForm()" href="">
        <b><i class="a-icon-user a-icon-white"></i></b>
        Войти на LastFM
    </a>
</div>