<section id="my-recommendations">
	<header data-ng-init="User('lastfmUser').getLastFmUserInfo()" class="tabs-header clear">
    	<img src="icons/no-album.png" width="64" height="64" data-image="{{lastfmUser.image[1]['#text']}}" >
        <h4>Рекомендованные композиции</h4>
        
        <span class="user-name">{{lastfmUser.name}}</span>
    </header>

    <div data-ng-init="Recommended('recommendedTracks').getTracks(0);" data-scroll="Recommended('recommendedTracks').getTracks(0, 1)" class="slide">
    	<ul class="tracks-list">
        	<li class="track"
                data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay}"
                data-autoscrolling="{{isCurrentTrack(track)}}" 
                data-ng-repeat="track in recommendedTracks.items">
                
            	<div class="text-overflow">
                	<i class="a-icon-play a-icon-opacity"></i>
                    <a data-ng-click="searchByArtist(track.artist)" href="" data-ng-bind-html="track.artist" class="track-artist"></a> – 
                    <span data-ng-bind-html="track.title" class="track-title"></span>
                    <span class="track-duration">{{track.duration}}</span>
                </div>
                
            	<div data-ng-click="Play(track, $index, recommendedTracks.items)" class="play"></div>
                
                <div class="track-options">
                	<a data-title="Открыть информацию об исполнителе" data-ng-click="artistMoreInfo(track.artist)" href="">
                        <i class="a-icon-info-sign a-icon-opacity"></i>
                    </a>
                	<a data-title="Добавить композициию в мои аудиозаписи" data-ng-click="addToMyPlaylist(track)" href="">
                        <i class="a-icon-plus a-icon-opacity"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>

<div class="message mess-auth" data-ng-if="!is_lastfm_auth">
    Для просмотра этого раздела Вам нужно авторизироваться на LastFM 
    <a class="btn btn-min btn-red right" data-ng-click="GetLastfmAuthForm()" href="">
        <b><i class="a-icon-user a-icon-white"></i></b>
        Войти на LastFM
    </a>
</div>