<section id="played-info">
	<header class="tabs-header clear">
    	<img src="icons/no-album.png" width="64" height="64" data-image="{{currentArtistInfo.image['#text']}}" >
        <h4>{{currentArtistInfo.name}}</h4>
        
        <ul class="artist-tags">
            <li data-ng-repeat="tag in currentArtistInfo.tags">
                {{tag.name}}
            </li>
        </ul>
        
        <nav data-ng-init="$parent.playedInfoType = 'bio'">
            <a 
                data-ng-click="$parent.playedInfoType = 'bio'" 
                data-ng-class="{'active' : playedInfoType == 'bio'}" 
            href=""><i class="a-icon-music a-icon-opacity"></i> Информация</a>
            
            <a 
                data-ng-click="Artist(currentArtistInfo.name).getSimilar('playedSimilar'); $parent.playedInfoType = 'similar'" 
                data-ng-class="{'active' : playedInfoType == 'similar'}" 
            href=""><i class="a-icon-search a-icon-opacity"></i> Похожие исполнители</a>
            
            <a 
                data-ng-click="Artist(currentArtistInfo.name).getAlbums('playedAlbums'); $parent.playedInfoType = 'albums'" 
                data-ng-class="{'active' : playedInfoType == 'albums'}" 
            href=""><i class="a-icon-th a-icon-opacity"></i> Дискография</a>
            <a 
                data-ng-click="Artist(currentArtistInfo.name).getEvents('playedEvenets'); $parent.playedInfoType = 'events'" 
                data-ng-class="{'active' : playedInfoType == 'events'}" 
            href=""><i class="a-icon-time a-icon-opacity"></i> События</a>
        </nav>
    </header>
    
    <div data-ng-if="$parent.playedInfoType == 'bio'" class="slide">
    	<div class="artist-bio">
        	<h6><span class="blue-bg"><i class="a-icon-info-sign a-icon-white"></i></span> Биография</h6>
            <div class="bio">
                <span data-ng-if="currentArtistInfo.bio.summary" data-ng-bind-html="currentArtistInfo.bio.summary"></span>
                <div data-ng-if="!currentArtistInfo.bio.summary">
                    Биография исполнителя не найдена
                </div>
                
                <div class="playcount">
                    <b>{{currentArtistInfo.count || 0}}</b><br />
                    твоих воспроизведений
                </div>
                
                <div class="bio-info">
                    <span class="blue-bg"><i class="a-icon-calendar a-icon-white"></i></span>
                    
                    <span data-ng-if="currentArtistInfo.bio.formationlist.formation.yearfrom || currentArtistInfo.bio.yearformed">
                        {{currentArtistInfo.bio.formationlist.formation.yearfrom || currentArtistInfo.bio.yearformed}} - 
                        {{currentArtistInfo.bio.formationlist.formation.yearto || 'по сегодняшний день'}}
                    </span>
                    <span data-ng-if="!biography.bio.formationlist.formation.yearfrom && !biography.bio.yearformed">
                    	Неизвестно
                    </span>
                </div>
                <div class="bio-info">
                    <span class="blue-bg"><i class="a-icon-map-marker a-icon-white"></i></span>
                    <span data-ng-if="currentArtistInfo.bio.placeformed">
                    	{{currentArtistInfo.bio.placeformed}}
                    </span>
                    <span data-ng-if="!currentArtistInfo.bio.placeformed">
                    	Неизвестно
                    </span>
                </div>
            </div>
        </div>
        
        <ul data-ng-init="artistContentType = 0" class="links-list">
        	<li>
            	<a 
                	data-ng-class="{active: artistContentType == 0}" 
                    data-ng-click="artistContentType = 0" 
                    href="">Топ 10 треков артиста</a>
            </li>
            <li>
            	<a 
                	data-ng-class="{active: artistContentType == 1}" 
                    data-ng-click="Artist(currentArtistInfo.name).getUserTracks('userTracksByArtist'); artistContentType = 1" 
                    href="">Все треки артиста в плейлисте</a>
            </li>
            <li>
            	<a 
                	data-ng-class="{active: artistContentType == 2}" 
                    data-ng-click="getTrackLyrics(); artistContentType = 2" 
                    href="">Текст песни</a>
            </li>
        </ul>
        
        <ul data-ng-if="artistContentType == 0" class="tracks-list">
        	<li class="track"
                data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay}" 
                data-ng-repeat="track in topTracks.tracks">
                
            	<div class="text-overflow">
                	<i class="a-icon-play a-icon-opacity"></i>
                    <a data-ng-click="searchByArtist(track.artist)" href="" data-ng-bind-html="track.artist" class="track-artist"></a> – 
                    <span data-ng-bind-html="track.title" class="track-title"></span>
                    <span class="track-duration">{{track.duration}}</span>
                </div>
                
            	<div data-ng-click="Play(track, $index, topTracks.tracks)" class="play"></div>
                
                <div class="track-options">
                    <a data-title="Добавить в мои аудиозаписи" data-ng-click="addToMyPlaylist(track)" href="">
                        <i class="a-icon-plus a-icon-opacity"></i>
                    </a>
                </div>
            </li>
        </ul>
        
        <ul data-ng-if="artistContentType == 1" class="tracks-list">
        	<li class="track"
                data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay}" 
                data-ng-repeat="track in userTracksByArtist">
                
            	<div class="text-overflow">
                	<i class="a-icon-play a-icon-opacity"></i>
                    <a data-ng-click="searchByArtist(track.artist)" href="" data-ng-bind-html="track.artist" class="track-artist"></a> – 
                    <span data-ng-bind-html="track.title" class="track-title"></span>
                    <span class="track-duration">{{track.duration}}</span>
                </div>
                
            	<div data-ng-click="Play(track, $index, userTracksByArtist)" class="play"></div>
                
                <div class="track-options">
                	<a data-title="Показать похожие треки" data-ng-click="showTrackRecommendations(track)" href="">
                        <i class="a-icon-headphones a-icon-opacity"></i>
                    </a>
                	<a data-title="Редактировать трек" data-ng-click="editMyTrack(track, $index, 1)" href="">
                        <i class="a-icon-pencil a-icon-opacity"></i>
                    </a>
                    <a data-title="Удалить трек" data-ng-click="deleteMyTrack(track.aid, track.owner_id, $index, 1)" href="">
                        <i class="a-icon-remove a-icon-opacity"></i>
                    </a>
                </div>
            </li>
        </ul>
        
        <div class="track-lyrics" data-ng-if="artistContentType == 2">
        	<span data-ng-if="trackLyrics">{{trackLyrics}}</span>
            <span data-ng-if="!trackLyrics">Текст песни не найден</span>
        </div>
    </div>
    
    <div data-ng-if="$parent.playedInfoType == 'similar'" class="slide">
        <div>
            <ul class="artists">
                <li data-ng-repeat="s in playedSimilar">
                    <a data-ng-click="artistMoreInfo(s.name)" href="">
                        <img src="icons/no-image.png" width="126" height="126" data-image="{{s.image.2['#text']}}" >
                        <span>{{s.name}}</span>
                        <i class="red" data-ng-if="s.match == 1">Такая же музыка</i>
                        <i class="orange" data-ng-if="s.match < 1 && s.match > 0.35">Очень похожая</i>
                        <i data-ng-if="s.match < 0.35">Похожая музыка</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div data-ng-if="$parent.playedInfoType == 'albums' && !albumTracks" class="slide">
    	<ul class="albums">
        	<li data-ng-repeat="album in playedAlbums">
           		<a data-ng-click="Artist(album.artist).getAlbum(album.name, 'albumTracks')" href="">
                	<img src="icons/no-image.png" width="250" height="250" image="{{album.image.3['#text']}}">
                    <div class="album-info">
                    	<span class="name">{{album.name}}</span>
                        <span class="year" data-ng-if="album.year">{{album.year}} г.</span>
                        <div class="tracks-count">{{album.count}} композиций</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    
    <div data-ng-if="albumTracks && $parent.playedInfoType == 'albums'" class="slide">
        <div data-ng-if="state.loadAlbum" class="album">
        	<a data-ng-click="toAlbumList()" class="to-albums-list clear" href=""><i class="a-icon-chevron-left a-icon-opacity"></i> Вернуться к альбомам</a>
    		<div class="album-info">
            	<img src="icons/no-image.png" width="126" height="126" image="{{albumTracks.image.2['#text']}}">

                <div class="info">
                	<div class="name">{{albumTracks.name}}</div>
                    <div class="year" data-ng-if="albumTracks.year">Релиз:<br /> <b>{{albumTracks.year}} года</b></div>
                    <div class="tracks-count">Композиций: <br /><b>{{albumTracks.count}}</b></div>
                    
                    <div class="playcount">
                        <b>{{albumTracks.playcount || 0}}</b><br />
                        воспроизведений
                    </div>
                </div>
            </div>
            <ul class="tracks-list">
                <li class="track"
                    data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay}" 
                    data-ng-repeat="track in albumTracks.tracks">
                    
                    <div class="text-overflow">
                        <i class="a-icon-play a-icon-opacity"></i>
                        <a data-ng-click="searchByArtist(track.artist)" href="" data-ng-bind-html="track.artist" class="track-artist"></a> – 
                        <span data-ng-bind-html="track.title" class="track-title"></span>
                        <span class="track-duration">{{track.duration}}</span>
                    </div>
                    
                    <div data-ng-click="Play(track, $index, albumTracks.tracks)" class="play"></div>
                    
                    <div class="track-options">
                        <a data-title="Добавить в мои аудиозаписи" data-ng-click="addToMyPlaylist(track)" href="">
                            <i class="a-icon-plus a-icon-opacity"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div data-ng-if="!state.loadAlbum">
        	Подождите, загружаю альбом...
        </div>
    </div>
    
    <div data-ng-if="$parent.playedInfoType == 'events'" class="slide">
        <div data-ng-if="playedEvenets">
            <div class="event clear" data-ng-repeat="event in playedEvenets">
                <div class="event-date">
                    <b>{{event.startDate.date}}</b>
                    {{event.startDate.month}} {{event.startDate.year}}
                </div>
                <div class="event-content">
                    <h3>{{event.title}}</h3>
                    <div class="event-artists text-overflow">{{event.artists.artist}}</div>
                    
                    <div class="event-venue">
                        <span class="blue-bg"><i class="a-icon-map-marker a-icon-white"></i></span>
                        <span class="venue">{{event.venue.location.city}}, {{event.venue.location.country}}</span>
                    </div>
                    
                    <a href="" class="btn btn-min" data-ng-click="getEventFull(event.id)">Читать больше</a>
                </div>
            </div>
        </div>
        <div class="message" data-ng-if="!moreInfoArtistEvents">
        	У этого исполнителя нет событий
        </div>
    </div>
</section>