<div id="search">
	<section id="search-panel">
    	<h3><span class="blue-bg"><i class="a-icon-search a-icon-white"></i></span> Поиск аудиозаписей</h3>
        <form data-ng-submit="search()">
        	<input 
                type="text"
                ng-trim="true"
                ng-model="query"
                uib-typeahead="searchAutocomplete.name for searchAutocomplete in getSearchAutocomplete($viewValue)"
                typeahead-template-url="views/typehead.html"
                typeahead-on-select="selectAutocompleteItem($item)"
                typeahead-focus-first="false"
                placeholder="Введите название исполнителя или трека..." 
                id="search-input" />

            <div uib-dropdown>
                <a data-ng-if="!$parent.performer_only" uib-dropdown-toggle class="dropdown-toggle" id="search-type" href="">по названию трека <i class="a-icon-chevron-down a-icon-opacity"></i></a>
                <a data-ng-if="$parent.performer_only == 1" uib-dropdown-toggle class="dropdown-toggle" id="search-type" href="">по исполнителю <i class="a-icon-chevron-down a-icon-opacity"></i></a>

                <ul uib-dropdown-menu class="dropdown-menu search">
                    <li>
                        <a ng-click="searchBy(0);" href="">по названию трека</a>
                    </li>
                    <li>
                        <a ng-click="searchBy(1);" href="">по исполнителю</a>
                    </li>
                </ul>
            </div>
        </form>
    </section>
    
    <section data-ng-init="is_show = false" data-scroll="loadMoreSearchResult()" class="search-result">
        <ul class="tracks-list">
        	<li class="track"
                data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay}"
                data-autoscrolling="{{isCurrentTrack(track)}}" 
                data-ng-repeat="track in searchTracks.items">
                
            	<div class="text-overflow">
                	<i class="a-icon-play a-icon-opacity"></i>
                    <a data-ng-click="searchByArtist(track.artist)" href="" data-ng-bind-html="track.artist" class="track-artist"></a> – 
                    <span data-ng-bind-html="track.title" class="track-title"></span>
                    <span class="track-duration">{{track.duration}}</span>
                </div>
                
            	<div data-ng-click="Play(track, $index, searchTracks.items)" class="play"></div>
                
                <div data-ng-if="track.owner_id != owner_id" class="track-options">
                	<a data-title="Открыть информацию об исполнителе" data-ng-click="artistMoreInfo(track.artist)" href="">
                        <i class="a-icon-info-sign a-icon-opacity"></i>
                    </a>
                	<a data-title="Добавить композициию в мои аудиозаписи" data-ng-click="addToMyPlaylist(track)" href="">
                        <i class="a-icon-plus a-icon-opacity"></i>
                    </a>
                </div>
                <div data-ng-if="track.owner_id == owner_id" class="track-options">
                	<a data-title="Открыть информацию об исполнителе" data-ng-click="artistMoreInfo(track.artist)" href="">
                        <i class="a-icon-info-sign a-icon-opacity"></i>
                    </a>
                	<a data-title="Редактировать трек" data-ng-click="editMyTrack(track, $index, 2)" href="">
                        <i class="a-icon-pencil a-icon-opacity"></i>
                    </a>
                    <a data-title="Удалить трек" data-ng-click="deleteMyTrack(track.id, track.owner_id, $index, 2)" href="">
                        <i class="a-icon-remove a-icon-opacity"></i>
                    </a>
                </div>
            </li>
        </ul>
    </section>
</div>