<section id="track-recommended">
	<header class="tabs-header clear">
    	<img src="icons/no-album.png" width="64" height="64" data-image="{{recommendedTrackArtist.image['#text']}}" >
        <h4>{{recommendTrack.artist}} - {{recommendTrack.title}}</h4>
        
        <ul class="artist-tags">
            <li data-ng-repeat="tag in recommendedTrackArtist.tags">
                {{tag.name}}
            </li>
        </ul>
        
        <nav data-ng-init="recommendedTrackType = 'vk'">
            <a 
                data-ng-click="recommendedTrackType = 'vk'" 
                data-ng-class="{'active' : recommendedTrackType == 'vk'}" 
            href=""><i class="a-icon-headphones a-icon-opacity"></i> Рекомендованные композиции</a>
        </nav>
    </header>
    
    <div 
        data-ng-if="recommendedTrackType == 'vk'" 
        data-scroll="Recommended('recommendedTrackItems').getTracks(recommendTrack.id, 1)" class="slide">
        
    	<ul  class="tracks-list">
            <li class="track"
                data-ng-class="{current : isCurrentTrack(track), paused : isCurrentTrack(track) && !isPlay}" 
                data-autoscrolling="{{isCurrentTrack(track)}}" 
                data-ng-repeat="track in recommendedTrackItems.items">
                
                <div class="text-overflow">
                    <i class="a-icon-play a-icon-opacity"></i>
                    <a data-ng-click="searchByArtist(track.artist)" href="" data-ng-bind-html="track.artist" class="track-artist"></a> – 
                    <span data-ng-bind-html="track.title" class="track-title"></span>
                    <span class="track-duration">{{track.duration}}</span>
                </div>
                
                <div data-ng-click="Play(track, $index, recommendedTrackItems.items)" class="play"></div>
                
                <div class="track-options">
                	<a data-title="Окрыть информацию об исполнителе" data-ng-click="artistMoreInfo(track.artist)" href="">
                        <i class="a-icon-info-sign a-icon-opacity"></i>
                    </a>
                	<a data-title="Добавить композициию в мои аудиозаписи" data-ng-click="addToMyPlaylist(track)" href="">
                        <i class="a-icon-plus a-icon-opacity"></i>
                    </a>
                </div>
            </li>
        </ul>
        
        <div class="message" data-ng-if="!recommendedTrackItems.items.length && recommendedTrackType == 'vk' && !state.recommendedTracksLoad">
        	Рекомендаций для композиции не найдено
        </div>
    </div>
</section>