<section class="auth-lastfm">
    <header>
        <img src="img/lastfm-logo-120.png"/>
        {{ 'login.lastFm.title'|translate }}
    </header>
    <p translate="login.lastFm.description"></p>

    <section class="cols">
        <section class="left">
            <h3 translate="login.lastFm.form.title"></h3>

            <input name="login" data-ng-model="auth.lastFmLogin" placeholder="{{ 'login.lastFm.form.login'|translate }}" type="text">
            <input name="login" data-ng-model="auth.lastFmPass" placeholder="{{ 'login.lastFm.form.pass'|translate }}" type="password">

            <div class="form-footer">
                <a data-ng-click="auth.loginLastFm()" translate="login.lastFm.form.submit" class="btn login"></a>
                <a href="http://www.lastfm.ru/join" target="_blank" translate="login.lastFm.registration" class="link"></a>
                <a href="http://last.fm" target="_blank" class="link">Last.FM</a>
            </div>
        </section>
        <section class="right">
            <h3 translate="login.lastFm.scrobble.title"></h3>

            {{ 'login.lastFm.scrobble.description'|translate }}

            <a data-ng-click="auth.lastFmSkip()" class="btn light" translate="login.lastFm.skip"></a>
        </section>
    </section>
</section>