<header class="app-header-window-controls" data-ng-controller="WindowController as window">
    <a data-ng-click="window.minimize()" class="window-minimize"></a>
    <a data-ng-click="window.fullScreen()" class="window-full-screen"></a>
    <a data-ng-click="window.close()" class="window-close"></a>
</header>
<section class="app-auth-content" data-ng-class="{hide: auth.showAuthForm == 'complete'}">
    <section class="auth-item" data-ng-if="auth.showAuthForm == 'vk'" data-ng-include="'templates/auth/authVkView.html'"></section>
    <section class="auth-item" data-ng-if="auth.showAuthForm == 'lastFm'" data-ng-include="'templates/auth/authLastFmView.html'"></section>
    <section class="auth-item" data-ng-if="auth.showAuthForm == 'settings'" data-ng-include="'templates/auth/authCompleteView.html'"></section>
</section>