.svg-common() {
	background: url(../img/sprite.svg) no-repeat;
}

.icon-love {
	.svg-common();
	background-position: 0 0;
}

.icon-love-dims {
	width: 154px;
	height: 138px;
}

.icon-volume {
	.svg-common();
	background-position: 100% 0;
}

.icon-volume-dims {
	width: 134px;
	height: 132px;
}

