.svg-common() {
    background: url(../img/sprite.svg?bdedf092027c0796dfeca0a0ed986eca) no-repeat;
}

.icon-menu-events {
    .svg-common();
    background-position: 0 22.448979591836736%;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.icon-menu-home {
    .svg-common();
    background-position: 65.3061224489796% 55.10204081632653%;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.icon-menu-lib {
    .svg-common();
    background-position: 32.6530612244898% 21.568627450980394%;
    width: 16px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}

.icon-menu-news {
    .svg-common();
    background-position: 71.42857142857143% 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.icon-menu-recommended {
    .svg-common();
    background-position: 100% 0;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}

.icon-menu-search {
    .svg-common();
    background-position: 0 55.10204081632653%;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.icon-menu-settings {
    .svg-common();
    background-position: 32.6530612244898% 55.10204081632653%;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.icon-play {
    .svg-common();
    background-position: 0 100%;
    width: 10px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}

.icon-scrobble {
    .svg-common();
    background-position: 37.5% 0;
    width: 17px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.icon-shuffle {
    .svg-common();
    background-position: 100% 26.41509433962264%;
    width: 14px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}

.icon-track-next {
    .svg-common();
    background-position: 0 78.18181818181819%;
    width: 12px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.icon-track-prev {
    .svg-common();
    background-position: 22.641509433962263% 78.18181818181819%;
    width: 12px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.icon-track-repeat {
    .svg-common();
    background-position: 0 0;
    width: 18px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
}

.icon-translate-vk {
    .svg-common();
    background-position: 98.07692307692308% 47.27272727272727%;
    width: 13px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.icon-volume-max {
    .svg-common();
    background-position: 45.283018867924525% 76.78571428571429%;
    width: 12px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
}

.icon-volume-min {
    .svg-common();
    background-position: 67.3076923076923% 28.571428571428573%;
    width: 13px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
}

.icon-window-close {
    .svg-common();
    background-position: 40% 96.36363636363636%;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.icon-window-collapse {
    .svg-common();
    background-position: 96.22641509433963% 57.142857142857146%;
    width: 12px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
}

.icon-window-expand {
    .svg-common();
    background-position: 18.867924528301888% 96.36363636363636%;
    width: 12px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

