<section class="app-content">
    <div ui-view="header">

    </div>
    <div ui-view="content">
        <ul class="artists-list">
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/47870299.jpg">
                    Stone Sour
                </a>
            </li>
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/278081.jpg">
                    Disturbed
                </a>
            </li>
            <li>
                <a class="similar-2">
                    <img src="http://userserve-ak.last.fm/serve/126s/177714.jpg">
                    All That Remains
                </a>
            </li>
            <li>
                <a>
                    <img src="http://userserve-ak.last.fm/serve/126s/46756175.jpg">
                    Avenged Sevenfold
                </a>
            </li>
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/47870299.jpg">
                    Stone Sour
                </a>
            </li>
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/278081.jpg">
                    Disturbed
                </a>
            </li>
            <li>
                <a class="similar-2">
                    <img src="http://userserve-ak.last.fm/serve/126s/177714.jpg">
                    All That Remains
                </a>
            </li>
            <li>
                <a>
                    <img src="http://userserve-ak.last.fm/serve/126s/46756175.jpg">
                    Avenged Sevenfold
                </a>
            </li>
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/47870299.jpg">
                    Stone Sour
                </a>
            </li>
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/278081.jpg">
                    Disturbed
                </a>
            </li>
            <li>
                <a class="similar-2">
                    <img src="http://userserve-ak.last.fm/serve/126s/177714.jpg">
                    All That Remains
                </a>
            </li>
            <li>
                <a>
                    <img src="http://userserve-ak.last.fm/serve/126s/46756175.jpg">
                    Avenged Sevenfold
                </a>
            </li>
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/47870299.jpg">
                    Stone Sour
                </a>
            </li>
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/278081.jpg">
                    Disturbed
                </a>
            </li>
            <li>
                <a class="similar-2">
                    <img src="http://userserve-ak.last.fm/serve/126s/177714.jpg">
                    All That Remains
                </a>
            </li>
            <li>
                <a>
                    <img src="http://userserve-ak.last.fm/serve/126s/46756175.jpg">
                    Avenged Sevenfold
                </a>
            </li>
            <li></li><li></li> <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>
    </div>
</section>