<section data-ng-class="{show: isMenuShow}" data-ng-controller="MenuController as menu" class="app-menu">
    <menu>
        <li>
            <a data-toggle="isMenuShow">
                <div class="helper"></div>
            </a>
            <div class="title">cMusic</div>
        </li>
        <li>
            <a translate="menu.news" class="icon-menu-news"></a>
        </li>
        <li>
            <a translate="menu.search" class="icon-menu-search"></a>
        </li>
        <li>
            <a translate="menu.lib" class="icon-menu-lib"></a>
        </li>
        <li>
            <a translate="menu.recommends" class="icon-menu-recommends"></a>
        </li>
        <li class="alarm">
            <a translate="menu.events" class="icon-menu-events"></a>
            <span class="count-alarms">5</span>
        </li>
        <li>
            <a translate="menu.about" class="icon-menu-about"></a>
        </li>
        <li>
            <a translate="menu.settings" class="icon-menu-settings"></a>
        </li>
    </menu>
</section>