<section data-ng-controller="PlaylistController as playlist" class="app-playlist">
    <div class="playlist-options">
        <div class="search">
            <input autocomplete="off" type="text" data-ng-model="playlist.search" placeholder="{{ 'playlist.search'|translate }}" name="q">
        </div>
        <div class="playlists">

        </div>
    </div>
    <ul data-playlist="general" class="tracks tracks-list">
        <li data-ng-repeat="track in playlist.tracks" data-url="{{ track.url }}">
            <i class="icon-play"></i>
            <a class="artist">{{ track.artist }}</a> – <span class="track">{{ track.title }}</span>
            <div class="time">{{ track.time }}</div>
        </li>
    </ul>
</section>