<section data-ng-controller="PlaylistCtrl" class="app-playlist">
    <audio class="app-player playlist"></audio>
    <div class="playlist-options">
        <div class="search">
            <input autocomplete="off" type="text" data-ng-model="search" placeholder="Search in playlist" name="q">
        </div>
        <div class="playlists">

        </div>
    </div>
    <ul data-playlist="general" class="tracks tracks-list">
        <li data-ng-repeat="track in tracks">
            <i class="icon-play"></i>
            <a class="artist">{{ track.artist }}</a> – <span class="track">{{ track.title }}</span>
            <div class="time">{{ track.duration }}</div>
        </li>
    </ul>
</section>