<section data-ng-class="{show: isMenuShow}" data-ng-controller="MenuController as menu" class="app-menu">
    <menu>
        <li>
            <a data-toggle="isMenuShow">
                <div class="helper"></div>
            </a>
            <div class="title">cMusic</div>
        </li>
        <li>
            <a>
                <i class="icon-menu-news"></i>
                <span translate="menu.news"></span>
            </a>
        </li>
        <li>
            <a>
                <i class="icon-menu-search"></i>
                <span translate="menu.search"></span>
            </a>
        </li>
        <li>
            <a>
                <i class="icon-menu-lib"></i>
                <span translate="menu.lib"></span>
            </a>
        </li>
        <li>
            <a>
                <i class="icon-menu-recommended"></i>
                <span translate="menu.recommends"></span>
            </a>
        </li>
        <li class="alarm">
            <a>
                <i class="icon-menu-events"></i>
                <span translate="menu.events"></span>
            </a>
            <span class="count-alarms">5</span>
        </li>
        <li>
            <a>
                <i class="icon-menu-home"></i>
                <span translate="menu.about"></span>
            </a>
        </li>
        <li>
            <a>
                <i class="icon-menu-settings"></i>
                <span translate="menu.settings"></span>
            </a>
        </li>
    </menu>
</section>