<header class="artist-header">
    <ui-image data-src="http://userserve-ak.last.fm/serve/64s/8717489.jpg"></ui-image>
    <div class="name">Five Finger Death Punch</div>

    <ul class="tags">
        <li><a>metalcore</a></li>
        <li><a>groove metal</a></li>
        <li><a>metal</a></li>
        <li><a>thrash metal</a></li>
        <li><a>hardcore</a></li>
    </ul>

    <menu class="tabs">
        <li class="active">
            <a>Information</a>
        </li>
        <li>
            <a>Tracks</a>
        </li>
        <li>
            <a>Similar artists</a>
        </li>
        <li>
            <a>Discography</a>
        </li>
        <li>
            <a>Events</a>
        </li>
    </menu>
</header>