<section class="artist-info">
    <div class="bio">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum commodo mauris ut ullamcorper. Vestibulum vel dui libero. Nam id dolor nec leo placerat blandit eu pulvinar neque. Suspendisse maximus, leo ut tristique sodales, mauris mauris auctor nunc, eget condimentum sem odio eu nibh. Praesent rutrum elit dui. Nullam venenatis nulla nec purus tempus, a feugiat mi rhoncus. Duis sed augue eu sem dignissim euismod. Curabitur rhoncus, risus vel mollis congue, turpis nulla ornare lectus, nec malesuada nulla quam id metus. Etiam tempus fermentum sodales. Sed a dui dictum, aliquet diam sed, interdum augue. In lacus nisl, congue sed nisi sit amet, varius finibus lacus. Aliquam et blandit nibh, vitae bibendum est.
    </div>
    <div class="similar">
        <h2>Top similar artists</h2>

        <ul class="artists-list">
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/47870299.jpg">
                    Stone Sour
                </a>
            </li>
            <li>
                <a class="similar-1">
                    <img src="http://userserve-ak.last.fm/serve/126s/278081.jpg">
                    Disturbed
                </a>
            </li>
            <li>
                <a class="similar-2">
                    <img src="http://userserve-ak.last.fm/serve/126s/177714.jpg">
                    All That Remains
                </a>
            </li>
            <li>
                <a>
                    <img src="http://userserve-ak.last.fm/serve/126s/46756175.jpg">
                    Avenged Sevenfold
                </a>
            </li>
            <li></li><li></li> <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>
    </div>
    <div class="albums">
        <h2>The best albums</h2>

        <ul class="albums-list">
            <li>
                <a>
                    <img src="http://userserve-ak.last.fm/serve/300x300/91064849.png">
                    War Is The Answer
                    <div class="year">2013</div>
                </a>
            </li>
            <li>
                <a>
                    <img src="http://userserve-ak.last.fm/serve/300x300/69325074.png">
                    American Capitalist
                    <div class="year">2011</div>
                </a>
            </li>
            <li>
                <a>
                    <img src="http://userserve-ak.last.fm/serve/300x300/91064027.png">
                    The Way Of The Fist
                    <div class="year">2008</div>
                </a>
            </li>
        </ul>
    </div>
</section>